# Base ignores:
# Silly OS X trash files.
.DS_Store

# vim backup files.
.*.swp

# other editor backup files.
*~

# Compiled python modules.
*.pyc

# Egg metadata.
github_plots.egg-info/

# Test coverage data.
cover/

# PyPi Dist
dist/
